In [1]:
%load_ext sql

DB_USERNAME = ''
DB_PASSWORD = ''
DB_HOST = ''
DB_PORT= ''
DB_NAME = ''


%sql postgresql://{DB_USERNAME}:{DB_PASSWORD}@{DB_HOST}/{DB_NAME}

In [ ]:
import pandas as pd
import os
import seaborn as sns
import sys

def get_data(ruta_n):
    ruta = os.chdir(ruta_n)
    lista=[arch.name for arch in os.scandir(ruta) if arch.is_file()]   
    data=pd.DataFrame()

    for i in lista:
        ids1=pd.read_excel(i, encoding='utf-8')
        ids1['archivo']=i
        data=pd.concat([data,ids1], ignore_index=True)
    return data

In [ ]:
df_productividad=get_data("../Mintic - ECAR/Bases encuestas efectivas").rename(str.lower, axis='columns')
df_marcadores=get_data("../Mintic - ECAR/Bases marcador automático").rename(str.lower, axis='columns')
df_psico=pd.read_excel("../Mintic - ECAR/Base psicotécnicas ECAR.xlsx", encoding='utf-8').rename(str.lower, axis='columns')
df_socio=pd.read_excel("../Mintic - ECAR/Base sociodemográficos ECAR.xlsx", encoding='utf-8').rename(str.lower, axis='columns')
df_codigos=pd.read_excel("../Mintic - ECAR/Codigos base productividad (género, ciudad y estrato).xlsx", encoding='utf-8').rename(str.lower, axis='columns')
df_cuotas=pd.read_excel("../Mintic - ECAR/Muestra ECAR mensual - Cuotas.xlsx", encoding='utf-8').rename(str.lower, axis='columns')
df_fechas=pd.read_excel("../Mintic - ECAR/Base fechas nacimiento, inicio y fin contrato.xlsx", encoding='utf-8').rename(str.lower, axis='columns')

In [ ]:
os.chdir("../proyecto/")

filtro_codenc=['Encuestador 199',  'Encuestador 44',  'Encuestador 16',  'Encuestador 180','Encuestador 36',  'Encuestador 145',  'Encuestador 213',  'Encuestador 188',  'Encuestador 189',  'Encuestador 50']

#######Transformaciones a PRODUCTIVIDAD #########################
df_productividad=df_productividad[~df_productividad['codenc'].isin(filtro_codenc)]
df_productividad['telelink']=df_productividad['telelink'].astype('Int64')
df_productividad['genero']=df_productividad['genero'].astype('Int64')
df_productividad['fecha']=df_productividad['fecha'].apply(lambda x: pd.to_datetime(x))
df_productividad=df_productividad[['codenc','telelink','fecha', 'duracion', 'genero', 'edad', 'ciudad','estrato', 'archivo']]
df_productividad.to_csv('../data_etls/ecar_dwh_base_encuestas_efectivas.csv', index=False)

#######Transformaciones a MARCADORES #########################
df_marcadores=df_marcadores[~df_marcadores['codenc'].isin(filtro_codenc)]
new_names=['codenc', 'calls', 'espera', 'porcentaje_espera', 'hablado', 
'porcentaje_hablado', 'disponible', 'porcentaje_disponible', 'pausas', 'porcentaje_pausas', 
'muerto', 'porcentaje_muerto', 'cliente', 'conectado', 'archivo']
df_marcadores.columns=new_names
for i in ['porcentaje_espera','porcentaje_hablado', 'porcentaje_disponible', 'porcentaje_pausas','porcentaje_muerto']: 
    df_marcadores[i]=df_marcadores[i].apply(lambda x: float(x.strip('%'))/100)
for cols in ['espera', 'hablado', 'disponible', 'pausas', 'muerto', 'cliente', 'conectado']:
    df_marcadores[cols]=pd.to_timedelta(df_marcadores[cols]).dt.total_seconds()
df_marcadores.to_csv('../data_etls/ecar_dwh_base_marcador_automatico.csv', index=False)

#######Transformaciones a FECHAS #########################
df_fechas['codenc']=df_fechas[~df_fechas['codenc'].isin(filtro_codenc)]
df_fechas.columns=['codenc', 'fecha_nacimiento', 'inicio_contrato', 'fin_contrato']
for i in ['Encuestador 176', 'Encuestador 186', 'Encuestador 23']:
    valor=df_fechas.loc[df_fechas['codenc']==i , 'fecha_nacimiento'].min()
    df_fechas.loc[df_fechas['codenc']==i, 'fecha_nacimiento']=valor
df_fechas.to_csv('../data_etls/ecar_dwh_base_fechas.csv', index=False)
#######Transformaciones a PSICO #########################
df_psico['codenc']=df_psico[~df_psico['codenc'].isin(filtro_codenc)]
df_psico['antecedentes_disciplinarios'].replace('a', 'apto', inplace=True)
df_psico.to_csv('../data_etls/ecar_dwh_base_psicotecnica.csv', index=False)
########################## Transformaciones a SOCIO#########################
df_socio['codenc']=df_socio[~df_socio['codenc'].isin(filtro_codenc)]
df_socio['nombre_educacion'].replace('ASISTENTE DISEÃ‘O GRÃ\x81FICO', 'asistente diseño gráfico', inplace=True)
df_socio['nombre_educacion']=df_socio[df_socio['nombre_educacion']!='asistente diseño gráfico']['nombre_educacion'].astype(str).apply(lambda x: x.encode('cp1252').decode('utf8').lower().strip())

cols_educacion=[['psicología', 'psicológia', 'psicologia', 'psicologia y pedagia', 'psicóloga', 'psicólogo'],'trabajo socia', 'tecnico auxiliar contabl y financiero','comunicación social - periodismo', 
['profesional en administración de empresas', 'administradora de empresas', 'lcda en administración de empresas'],['tegnóloga en gestión empresarial', 'tegnologo gestión empresarial'], 
['hoteleria y turismo', 'gestión turística y hotelera'],['asistencia dministrativa','técnico asistente administrativa', 'auxiliar administrativa'],
['investigador criminalistico','detective investigador criminalistico', 'tecnologo en  investigación criminal'],['control ambiental', 'tecnologo en control ambiental'],
'publicidad y mercadeo , fotogracia', ['negocios internacionales', 'tecnologo en negociacion internacional','tecnico en comercio internacional', 'administración de negocios internacionales'], 'nan']
cols_new_educacion=['psicología', 'trabajo social', 'tecnico auxiliar contable y financiero', 'comunicacion social y periodismo', 'administracion de empresas', 'tecnología en gestión empresarial',
'hotelería y turismo', 'asistencia administrativa', 'investigacion criminal', 'tecnología en control ambiental', 'publicidad y mercadeo', 'comercio y negocios internacionales', 'no_disponible']

for i, j in zip(cols_educacion,cols_new_educacion):
    df_socio['nombre_educacion'].replace(i,j, inplace=True)
    
for i in ['como_conocio_cnc','experiencia', 'barrio', 'educacion_formal', 'estado_educacion']:
    df_socio[i]=(df_socio[i].astype(str)).apply(lambda x: x.encode('latin1').decode('utf8').lower().strip())

df_socio['barrio'].replace(['suba-salitre','no se'],['suba salitre','no_disponible'] ,inplace=True)
df_socio['localidad']=(df_socio['localidad'].astype(str)).apply(lambda x: x.encode('cp1252').decode('utf8').lower().strip())

cols_localidad=[['4ta san cristobal', 'san cristobal', 'san cristóbal sur', 'san cristobal sur', '4'], ['19 ciudad bolivar', 'cuidad bolivar', 'candelaria lanueva', 'ciudad bolívar', '19'],
['zona 5 de usme',  '5 de usme'], 'fontibom', 'engatva', ['8','octava', 'keneddy'], ['11 - suba', 'suba costa rica'],
['bosa recreo','recreo', 'séptima de bosa'], ['uribe uribe', 'rafael uribe'], 'martires', 'antonio narilo',['nan', 'no se'],'centro', 'teusaqullo']
cols_localidad_new=['san cristóbal', 'ciudad bolivar', 'usme', 'fontibon', 'engativa', 'kennedy','suba', 'bosa','rafael uribe uribe','mártires',
'antonio nariño', 'no_disponible', 'santa fé', 'teusaquillo']

for i, j in zip(cols_localidad,cols_localidad_new):
    df_socio['localidad'].replace(i,j, inplace=True)
    
df_socio['educacion_formal'].replace('nan','no_disponible',  inplace=True)
df_socio['estado_educacion'].replace('nan','no_disponible',  inplace=True)
df_socio.to_csv('data_etls/ecar_dwh_base_sociodemografica.csv', index=False)

#######Transformaciones a CODIGOS#########################
df_codigos['campo']=df_codigos['campo'].apply(lambda x: x.lower())
df_codigos.dtypes
df_codigos.to_csv('../data_etls/ecar_dwh_base_correspondencia_codigos.csv', index=False)

#######Transformaciones a CUOTAS #########################
df_cuotas=df_cuotas[((df_cuotas['etiquetas_rango_edad']!='Total') & (df_cuotas['etiquetas_rango_edad']!='TOTALES'))]
df_cuotas['cod_ciudad']=df_cuotas['codciu'].astype(int)
df_cuotas.drop('codciu', axis=1, inplace=True)
df_cuotas['cod_rango_edad']=df_cuotas['cod_rango_edad'].astype(int)
df_cuotas=df_cuotas[['cod_ciudad','ciudad', 'cod_rango_edad', 'etiquetas_rango_edad', 'h1', 'm1', 'h2','m2', 'h3', 'm3', 'h4', 'm4', 'h5', 'm5', 'h6', 'm6']]
df_cuotas.to_csv('../data_etls/ecar_dwh_base_muestra_ECAR_mensual_cuotas.csv', index=False)

In [ ]:

%%sql

CREATE TABLE ecar_dwh.ecar_dwh_base_sociodemografica (
    codenc varchar(255) NULL,
    como_conocio_cnc varchar(255) NULL,
    fecha_registro varchar(255) NULL,
    ciudad float8 NULL,
    experiencia varchar(255) NULL,
    tipo varchar(255) NULL,
    nivel_ingles varchar(255) NULL,
    nivel_italiano varchar(255) NULL,
    nivel_frances varchar(255) NULL,
    nivel_portugues varchar(255) NULL,
    nivel_otro varchar(255) NULL,
    barrio varchar(255) NULL,
    fecha_nacimiento date NULL,
    localidad varchar(255) NULL,
    educacion_formal varchar(255) NULL,
    estado_educacion varchar(255) NULL,
    nombre_educacion varchar(255) NULL
);

CREATE TABLE ecar_dwh.ecar_dwh_base_psicotecnica (
    codenc varchar(255) NULL,
    competencias_organizacionales float8 NULL,
    cartografia float8 NULL,
    valanti float8 NULL,
    nf float8 NULL,
    competencias_funcionales float8 NULL,
    ortografia float8 NULL,
    numeros float8 NULL,
    coherencia_entre_numeros float8 NULL,
    sumar float8 NULL,
    escritura float8 NULL,
    lectura float8 NULL,
    lectura_voz_alta float8 NULL,
    entonacion float8 NULL,
    recreacion_lectura float8 NULL,
    fluidez_lectura float8 NULL,
    vocalizacion float8 NULL,
    warteg float8 NULL,
    curso_basico_encuestadores float8 NULL,
    experiencia float8 NULL,
    comprension_lectura float8 NULL,
    antecedentes_disciplinarios varchar(255) NULL,
    entrevista float8 NULL
);


CREATE TABLE ecar_dwh.ecar_dwh_base_fechas (
    codenc varchar(255) NULL,
    fecha_nacimiento timestamp NULL,
    inicio_contrato timestamp NULL,
    fin_contrato timestamp NULL
);


CREATE TABLE ecar_dwh.ecar_dwh_base_marcador_automatico (
    codenc varchar(255) NULL,
    calls int4 NOT NULL,
    espera varchar(255) NULL,
    porcentaje_espera float8 NULL,
    hablado varchar(255) NULL,
    porcentaje_hablado float8 NULL,
    disponible varchar(255) NULL,
    porcentaje_disponible float8 NULL,
    pausas varchar(255) NULL,
    porcentaje_pausas float8 NULL,
    muerto varchar(255) NULL,
    porcentaje_muerto float8 NULL,
    cliente varchar(255) NULL,
    conectado varchar(255) NULL,
    archivo varchar(255) NULL
);


CREATE TABLE ecar_dwh.ecar_dwh_base_encuestas_efectivas (
    codenc varchar(255) NULL,
    telelink int4 NULL,
    fecha date NOT NULL,
    duracion int4 NULL,
    genero int4 NULL, 
    edad int4 NULL,
    ciudad int4 NULL,
    estrato int4 NULL,
    archivo varchar(255) NULL
);


CREATE TABLE ecar_dwh.ecar_dwh_base_correspondencia_codigos (
campo VARCHAR(50), 
codigo INTEGER, 
etiqueta VARCHAR(50)
);


CREATE TABLE ecar_dwh.ecar_dwh_base_muestra_ECAR_mensual_cuotas (
cod_ciudad INTEGER,
ciudad VARCHAR(50), 
cod_rango_edad  INTEGER,
etiquetas_rango_edad VARCHAR(50),
h1 INTEGER,
m1 INTEGER,
h2 INTEGER, 
m2 INTEGER,
h3 INTEGER,
m3 INTEGER, 
h4 INTEGER, 
m4 INTEGER,
h5 INTEGER,
m5 INTEGER, 
h6 INTEGER,
m6 INTEGER
);

In [ ]:
%%sql
\copy  ecar_dwh.ecar_dwh_base_encuestas_efectivas FROM 'data_etls/ecar_dwh_base_encuestas_efectivas.csv' with (format CSV, header true, delimiter ',');
\copy  ecar_dwh.ecar_dwh_base_marcador_automatico FROM 'data_etls/ecar_dwh_base_marcador_automatico.csv' with (format CSV, header true, delimiter ',');
\copy  ecar_dwh.ecar_dwh_base_muestra_ECAR_mensual_cuotas FROM 'data_etls/ecar_dwh_base_muestra_ECAR_mensual_cuotas.csv' with (format CSV, header true, delimiter ',');
\copy  ecar_dwh.ecar_dwh_base_correspondencia_codigos FROM 'data_etls/ecar_dwh_base_correspondencia_codigos.csv' with (format CSV, header true, delimiter ',');
\copy  ecar_dwh.ecar_dwh_base_sociodemografica FROM 'data_etls/ecar_dwh_base_sociodemografica.csv' with (format CSV, header true, delimiter ',');
\copy  ecar_dwh.ecar_dwh_base_fechas FROM 'data_etls/ecar_dwh_base_fechas.csv' with (format CSV, header true, delimiter ',');
\copy  ecar_dwh.ecar_dwh_base_psicotecnica FROM 'data_etls/ecar_dwh_base_psicotecnica.csv' with (format CSV, header true, delimiter ',');

In [ ]:
Index(['codenc', 'calls', 'total', 'espera', 'hablado', 'disponible', 'pausas',
       'muerto', 'duracion_efectivas', 'dias_trabajados',
       'efectividad_ajustada', 'efectivas_Mujer', 'efectivas_Hombre',
       'efectivas_Alto', 'efectivas_Medio_Alto', 'efectivas_Medio_Medio',
       'efectivas_Bajo', 'efectivas_Medio_Bajo', 'efectivas_Tunja',
       'efectivas_Popayán', 'efectivas_Montería', 'efectivas_Manizales',
       'efectivas_Armenia', 'efectivas_Villavicencio', 'efectivas_Pasto',
       'efectivas_Cúcuta', 'efectivas_Santa_Marta', 'efectivas_Ibagué',
       'efectivas_Neiva', 'efectivas_Pereira', 'efectivas_Cartagena',
       'efectivas_Cali', 'efectivas_Bucaramanga', 'efectivas_Barranquilla',
       'efectivas_Medellín', 'efectivas_Bogotá', 'efectivas_rango_edad_5',
       'efectivas_rango_edad_2', 'efectivas_rango_edad_4',
       'efectivas_rango_edad_3', 'efectivas_rango_edad_1', 'meses_trabajados',
       'competencias_funcionales', 'numeros', 'lectura_voz_alta',
       'fluidez_lectura', 'cartografia', 'competencias_organizacionales',
       'sumar', 'coherencia_entre_numeros', 'como_conocio_cnc', 'localidad',
       'educacion_formal', 'estado_educacion', 'nombre_educacion'],
      dtype='object')

### Cargar datos listos para el modelo

In [2]:
%%sql 

DROP TABLE ecar_dwh.ecar_dwh_base_modelo

 * postgresql://developers:***@ds4a-demo-instance.cthv8jsiwdp8.us-east-2.rds.amazonaws.com/cnc
Done.

[]

In [3]:
%%sql 

CREATE TABLE ecar_dwh.ecar_dwh_base_modelo (
    codenc varchar(255) NULL,
    calls float8 NULL,
    total float8 NULL,
    espera float8 NULL,
    hablado float8 NULL,
    disponible float8 NULL,
    pausas float8 NULL,
    muerto float8 NULL,
    duracion_efectivas float8 NULL,
    dias_trabajados float8 NULL,
    efectividad_ajustada float8 NULL,
    efectivas_Mujer float8 NULL,
    efectivas_Hombre float8 NULL,
    efectivas_Alto float8 NULL,
    efectivas_Medio_Alto float8 NULL,
    efectivas_Medio_Medio float8 NULL,
    efectivas_Bajo float8 NULL,
    efectivas_Medio_Bajo float8 NULL,
    efectivas_Tunja float8 NULL,
    efectivas_Popayán float8 NULL,
    efectivas_Montería float8 NULL,
    efectivas_Manizales float8 NULL,
    efectivas_Armenia float8 NULL,
    efectivas_Villavicencio float8 NULL,
    efectivas_Pasto float8 NULL,
    efectivas_Cúcuta float8 NULL,
    efectivas_Santa_Marta float8 NULL,
    efectivas_Ibagué float8 NULL,
    efectivas_Neiva float8 NULL,
    efectivas_Pereira float8 NULL,
    efectivas_Cartagena float8 NULL,
    efectivas_Cali float8 NULL,
    efectivas_Bucaramanga float8 NULL,
    efectivas_Barranquilla float8 NULL,
    efectivas_Medellín float8 NULL,
    efectivas_Bogotá float8 NULL,
    efectivas_rango_edad_5 float8 NULL,
    efectivas_rango_edad_2 float8 NULL,
    efectivas_rango_edad_4 float8 NULL,
    efectivas_rango_edad_3 float8 NULL,
    efectivas_rango_edad_1 float8 NULL,
    meses_trabajados int4 NULL,
    competencias_funcionales float8 NULL,
    numeros float8 NULL,
    lectura_voz_alta float8 NULL,
    fluidez_lectura float8 NULL,
    cartografia float8 NULL,
    competencias_organizacionales float8 NULL,
    sumar float8 NULL,
    coherencia_entre_numeros float8 NULL,
    como_conocio_cnc varchar(255) NULL,
    localidad varchar(255) NULL,
    educacion_formal varchar(255) NULL,
    estado_educacion varchar(255) NULL,
    nombre_educacion varchar(255) NULL
);

 * postgresql://developers:***@ds4a-demo-instance.cthv8jsiwdp8.us-east-2.rds.amazonaws.com/cnc
Done.

[]

In [4]:
%%sql
\copy  ecar_dwh.ecar_dwh_base_modelo FROM '../data_etls/ecar_dwh_base_modelo.csv' with (format CSV, header true, delimiter ',');

 * postgresql://developers:***@ds4a-demo-instance.cthv8jsiwdp8.us-east-2.rds.amazonaws.com/cnc
0 rows affected.

[]